
/*Text färg*/
$textcolor: rgb(255, 255, 255);
$footercolor: grey;

/*Text design*/
@mixin text-style {
    font-size: 30px;
    font-family: Helvetica;
    color: $textcolor;
} 

/*Rubrik design*/
@mixin heading {
    font-size: 75px;
    font-family: Helvetica;
    color: $textcolor;
}

/*Main bakgrund*/
@mixin background () {
    background-color: rgb(17, 39, 58);
    background-image: url(https://64.media.tumblr.com/26faa2eae62ced3703775bad035e34bc/tumblr_nnqv3uKMMh1r98n8go10_540.png);
    background-position-x: center;
    justify-content: center;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}
/*Designen på containers, BRA NAMN!*/
@mixin container_design () {
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

/*Samma som sidans bakgrund så att kanterna inte blir hel vita*/
body {
    @include background();
}

/*Sidans bakgrund*/
main {
    @include background();

    height: 450vh;
    justify-content: center;
}

/*Titel containern*/
.container { 
    font-size: 75px;
    font-family: Helvetica;
    color: grey;
    height: 30vh;
    top: 0;
    background-image: url(Dishonored2title.png);
    background-position-x: center;
    justify-content: center;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

/*Första containern med bild*/
.container-2 {
    @include container_design();

    height: 75vh;
    margin-top: 30vh;
    background-image: url(Armisstiltonsmanor.jpg);
    background-position-x: center;
    justify-content: center;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

/*Andra containern med bild*/
.container-3 {
    @include container_design();

    height: 75vh;
    margin-top: 50vh;
    background-image: url(Clockworkmansion.jpg);
    background-position-x: center;
    justify-content: center;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

/*Text mellan första och andra containern samt mellan andra containern och footern*/
p {
    @include text-style();

}

/*Rubrik till texterna*/
.heading {
    @include heading();
}


footer {
    @include container_design();
    @include text-style();

    margin-top: 30vh;
    height: 15vh;
    text-align: center;
    font-size: 20px;
    align-items: center;
    color: $footercolor;
}